* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.profile-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  height: 70px;

  border-radius: 50%;
  overflow: hidden;
}
.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback {
  font-size: 1rem;
  text-align: center;
  color: #5a5a5a;
}
.username {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  color: #3d3c3b;
}
.position {
  margin-top: 0.2rem;
  font-size: 1rem;
  font-weight: 400;
  color: #424242;
}
.button {
  background-color: #0054ad;
  color: #fff;
  font-weight: 400;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 2rem 0 1rem 0;
}
